p {
	margin: 0;
	padding: 0;
}

body {
	margin: 0;
	padding: 0;
	position: relative;
	height: 100vh;
	display: flex;
	flex-direction: column;
}

.header {
	background: #fff;
	top: 0;
	left: 0;
	box-sizing: border-box;
}

.container {
	max-width: 1620px;
	margin: 0 auto;
	margin-top: 3.125vw;
}

.nav {
	width: 100%;
	display: flex;
	justify-content: space-between;
	align-items: center;
}

.title {
	text-decoration: none;
	color: #000;
	font-size: 2vw;
	font-family: 'Lato', sans-serif;
	z-index: 1000;
}

.menu {
	font-size: 1vw;
	font-family: 'Lato', sans-serif;
	margin: auto;
}

.link {
	text-decoration: none;
	color: #000;
	position: relative;
	margin-right: 2.3vw;
}

.link_sign {
	text-decoration: none;
	color: #000;
}

.link_get {
	text-decoration: none;
	color: #fff;
}

.link:last-child, {
	margin-right: 0;
}

.link:after {
	content: "";
	width: 100%;
	height: 0.16vw;
	background-color: #000;
	position: absolute;
	top: 100%;
	left: 0;
	display: none;
}

.link:hover:after {
	display: block;
}

.authorization {
	display: flex;
	justify-content: space-between;
}

.sign {
	font-family: 'Lato', sans-serif;
	width: 7.4vw;
	height: 4vw;
	background-color: #fff;
	font-size: 1vw;
	margin: 0 0.83vw 0 0;
	border: 1px solid #000;
	border-radius: 10px;
	color: #000;
}

.user {
	font-family: 'Lato', sans-serif;
	width: 7.4vw;
	height: 4vw;
	background-color: #fff;
	font-size: 1.5vw;
	margin: 0 1.5vw 0 0;
	border: 1px solid #fff;
	border-radius: 10px;
	color: #000;
}

.get {
	font-family: 'Lato', sans-serif;
	font-size: 1vw;
	width: 7.4vw;
	height: 4vw;
	border: 1px solid #008000;
	border-radius: 10px;
	color: #fff;
	background-color: #008000;
}

.design {
	width: 100%;
	content: "";
}

.circle {
	position: absolute;
	margin-left: -14vw;
	margin-top: -21vw;
	width: 31vw;
	height: 31vw;
	border: 1px solid #008000;
	border-radius: 50%;
	z-index: 31;
}

.circle2 {
	position: absolute;
	margin-left: -17vw;
	margin-top: -19vw;
	width: 31vw;
	height: 31vw;
	border: 1px solid #008000;
	border-radius: 50%;
	z-index: 31;
}

.intro {
	font-family: 'Spartan', sans-serif;
	text-align: center;
}

.intro_logo {
	position: relative;
	max-width: 48vw;
	margin: 0 auto;
	font-size: 3.64vw;
	font-weight: bold;
	line-height: 4vw;
	padding-top: 7vw;
	z-index: 20;
}

.invest {
	color: #008000;
}

.description_intro {
	max-width: 38vw;
	margin: 0 auto;
	font-size: 1vw;
	padding-top: 3.6vw;
	line-height: 180%;
	padding-bottom: 48px;
}

.get_email {
	display: flex;
	align-items: center;
	justify-content: center;
}

.email,.email_php {
	width: 26vw;
	padding-left: 25px;
	font-family: 'Spartan', sans-serif;
	font-size: 1vw;
	height: 3.65vw;
	border-color: #e9ebeb;
	background-color: #e9ebeb;
	border-radius: 10px;
	opacity:  100%;	
	outline: 0;
	box-shadow: none;
	border: 2px solid #e9ebeb;
}

.email::-webkit-input-placeholder,.email_php::-webkit-input-placeholder {
	color:#000;
	opacity: 100%;
}

.get2 {
	font-family: 'Spartan', sans-serif;
	font-size: 1vw;
	width: 8.5vw;
	height: 3.33vw;
	border: 1px solid #008000;
	border-radius: 10px;
	color: #fff;
	background-color: #008000;
	position: absolute;
	margin-left: 18.75vw;
}



.container2 {
	max-width: 1420px;
	min-height: 30vh;
	margin: 0 auto;
}

.company {
	margin-top: 10.83vw;
	display: flex;
	justify-content: space-between;
	align-items: center;
}

.MarketWatch {
	width: 14.08%;
}

.Forbes {
	width: 12.32%;
}

.BusinessIns {
	width: 12.32%;
}

.Fidelity {
	width: 18.31%;
}

.Wired {
	width: 12.39%;
}

.card_1 {
	margin-top: 10.16vw;
	display: flex;
	justify-content: space-between;
}

.info_1 {
	width: 29.9vw;
	align-items: center;
}

.head_info_1, .head_info_2, .head_info_3, .head_info_4 {
	font-family: 'Spartan', sans-serif;
	font-size: 3.33vw;
	font-weight: bold;
	line-height: 3.75vw;
}

.main_info_1, .main_info_2, .main_info_3, .main_info_4 {
	font-family: 'Spartan', sans-serif;
	margin-top: 2.6vw;
	font-size: 1vw;
	line-height: 1.7vw;
}

.image_1 {
	width: 39.06vw;
	height: 48.75vw;
	background-color: #e6f2e6;
	border-radius: 20px;
}

.Human_1 {
	width: 34.375vw;
	display: block;
	margin: 0 auto;
	margin-top: 8.65vw;
	border-radius: 20px;
}

.cards_info_1 {
	width: 25.6vw;
	margin-top: 1.6vw;
}

.card_1_info_1 {
	display: flex;
	justify-content: flex-start;
	margin-bottom: 2.5vw;
}

.phone_1 {
	width: 5.7vw;
	height: 5.7vw;
}

.text {
	display: flex;
	flex-direction: column;
	margin-left: 1.7vw;
	align-content: space-between;
}

.bold {
	margin-bottom: 0.83vw;
	display: block;
	font-family: 'Spartan', sans-serif;
	font-size: 1vw;
	font-weight: bold;
}

.regular {
	display: block;
	font-family: 'Spartan', sans-serif;
	font-size: 0.94vw;
}

.card_2 {
	margin-top: 10.42vw;
	display: flex;
	justify-content: space-between;
	height: 50.02vw;
}

.image_2 {
	width: 36.15vw;
	height: 39.6vw;
	background-color: #e6f2e6;
	border-radius: 20px;
}

.Human_2 {
	border-radius: 20px;
	width: 32vw;
	display: block;
	margin: 0 auto;
	margin-top: 5.16vw;
}

.info_2 {
	width: 31.25vw;
	align-items: center;
}

.head_info_2 {
	width: 29.7vw;
	font-size: 3.65vw;
	line-height: 4vw;
}

.main_info_2 {
	width: 29.32vw;
	margin-top: 1.67vw;
}

.card_1_info_2 {
	margin-top: 2.5vw;
}

.akkor_1 {
 	background: #f2f9f2;
	width: 100%;
	border-radius: 10px;
	margin-bottom: 1.25vw;
}

.akkor_2,.akkor_3 {
	padding: 1.6vw 0;
	padding-left: 1.6vw;
	font-family: 'Spartan', sans-serif;
  display:block;
  font-size: 1.25vw;
  cursor: pointer;
  position: relative;
}

.akkor_p {
  color: #000;
  position: absolute;
  top: 50%;
  right: 1vw;
  font-size: 30px;
  transform: translateY(-50%);
  z-index: 15;
}

.akkor_3 {
	margin: 0 0 0 0;
}

.akkor_1:last-child {
	margin-bottom: 10.42vw;
}

.regular_2 {
	font-family: 'Spartan', sans-serif;
	font-size: 1vw;
	padding: 1vw 0 1vw 1.56vw;
}

.card_3 {
	display: flex;
	justify-content: space-between;
}

.info_3 {
	width: 39.64%;
}

.head_info_3 {
	font-size: 3.65vw;
	line-height: 4.06vw;
}

.main_info_3 {
	margin-top: 1.67vw;
}

.cards_info_3 {
	margin-top: 2.5vw;
}

.card_1_info_3 {
	display: flex;
	justify-content: flex-start;
	margin-bottom: 2.5vw;
}

.number {
	font-family: 'Spartan', sans-serif;
	font-weight: bold;
	width: 3.33vw;
	font-size: 1.875vw;
	padding-top: 0.73vw;
	border-radius: 50%;
	color: #008000;
	background-color: #f2f9f2;
	text-align: center;
}

.text_2 {
	font-family: 'Spartan', sans-serif;
	margin-left: 2.60vw;
	font-size: 1.04vw;
	padding: 1vw 0;
}

.learn {
	display: inline-flex;
	justify-content: center;
	align-items: center;
	font-family: 'Spartan', sans-serif;
	font-size: 1vw;
	padding-top: 0.5vw;
	width: 11.56vw;
	height: 3.33vw;
	border: 1px solid #008000;
	border-radius: 10px;
	color: #fff;
	background-color: #008000;
}

.learn:disabled {
	background-color: #3c493c;
}

.image_3 {
	width: 47.89%;
}

.Human_3 {
	width: 100%;
	border-radius: 20px;
}

.card_4 {
	margin-top: 10.42vw;
}

.info_4 {
	text-align: center;
}

.head_info_4 {
	font-size: 3.65vw;
	line-height: 4.06vw;
}

.main_info_4 {
	max-width: 563px;
	margin: 0 auto;
	margin-top: 1.67vw;
}

.slideshow-container {
	overflow: hidden;
	margin-top: 2.5vw;
	margin-bottom: 2.5vw;
}

.cards_info_4 {
	display: flex;
	transition: 0.4s;
}

.card_1_info_4 {
	background-color: #f2f9f2;
	min-width: 48.31%;
	display: flex;
	justify-content: flex-start;
	border-radius: 20px;
	margin: 0 0.845%;
	height: 20vw;
}


.Human_4 {
	width: 45%;
	height: 100%;
	border-radius: 20px 0px 0px 20px;
}

.text_4 {
	margin: 1.67vw;
	width: 46.65%;
	display: grid;
	align-content: stretch;
	position: relative;
}

.signature {
	font-family: 'Spartan', sans-serif;
	font-size: 1vw;
	font-weight: 600;
	position: absolute;
	bottom: 0;
}

.view_all {
	display: flex;
	justify-content: center;
	margin-bottom: 10.42vw;
	width: 100%;
}


.download_info {
	margin: 0 auto;
	padding-top: 3.75vw;
	width: 39.6vw;
	text-align: center;
	font-family: 'Spartan', sans-serif;
	font-size: 2.92vw;
	font-weight: Bold;
	line-height: 3.27vw;
}

.download_icon {
	margin: 0 auto;
	margin-top: 2.5vw;
	width: 18.96vw;
	display: flex;
	justify-content: space-between;
}

.google_play {
	width: 8.96vw;
}

.appstore {
	width: 8.75vw;
}

.card_5 {
	display: flex;
	justify-content: center;
	background-color: #f2f9f2;
	border-radius: 20px;
	overflow: hidden;
	height: 19.27vw;
}

.download {
	display: flex;
	flex-direction: column;
	justify-content: flex-start;
	align-items: center;
}

.circle_download {
	display: flex;
	justify-content: center;
}

.circle_3 {
	width: 30.47vw;
	height: 19.27vw;
	position: absolute;
}

.circle_4 {
	width: 30.47vw;
	height: 19.27vw;
	position: absolute;

}

.footer {
	width: 100%;
	background-color: #f2f9f2;
	margin-top: 10.42vw;
	padding-top: 3.5vw;
	padding-bottom: 2.9vw;
}

.container3 {
	width: 84.375vw;
	max-width: 1620px;
	margin: 0 auto;
}

.info_footer {
	display: flex;
	justify-content: space-between;
	margin-bottom: 5.21vw;
}

.title_footer {
	display: flex;
}

.farm {
	width: 18.33vw;
}

.img_footer {
	padding-right: 0.52vw;
	width: 1.2vw;
}

.main_farm_footer {
	margin-top: 1.66vw;
}

.text_title_footer {
	font-family: 'Spartan', sans-serif;
	font-size: 1.15vw;
}

.text_subscribe {
	width: 22.81vw;
	margin-bottom: 1.25vw;
}

.subscribe {
	width: 27.76vw;
}

.follow {
	width: 18.90vw;
	display: flex;
	justify-content: space-between;
}

.follow_us {
	width: 9.17vw;
}

.call_us {
	width: 7.08vw;
}

.title_follow {
	font-family: 'Spartan', sans-serif;
	font-size: 0.83vw;
	font-weight: bold;
	margin-bottom: 1.25vw;
}

.icons_follow {
	display: flex;
	justify-content: space-between;
	vertical-align: center;
}

.fa-instagram {
	text-align: center;
	width: 2.5vw;
	padding: 0.42vw 0px;
	font-size: 1.67vw;
	background-color: #008000;
	border-radius: 50%;
	color: #f2f9f2;
}

.fa-facebook {
	text-align: center;
	font-size: 2.5vw;
	color: #008000;
}

.fa-twitter {
	text-align: center;
	width: 2.5vw;
	padding: 0.42vw 0px;
	font-size: 1.67vw;
	background-color: #008000;
	border-radius: 50%;
	color: #f2f9f2;
}

.phone {
	font-size: 0.83vw;
}

.line_footer {
	width: 100%;
	content: "";
	height: 1px;
	background-color: #000;
	opacity: 50%;
	margin-bottom: 2.92vw;
}

.right {
	font-family: 'Spartan', sans-serif;
	font-size: 0.625vw;
}

.podpis {
	display: flex;
	justify-content: space-between;
}

.menu_podpis {
	display: flex;
	justify-content: space-between;
}

.point_menu {
	text-decoration: none;
	color: #000;
	position: relative;
	font-family: 'Spartan', sans-serif;
	font-size: 0.73vw;
	margin-right: 2.08vw;
}

.point_menu:last-child {
	margin-right: 0px;
}

.point_menu::after {
	content: "";
	width: 100%;
	height: 1px;
	background-color: #000;
	position: absolute;
	top: 100%;
	left: 0;
	display: none;
}

.point_menu:hover:after {
	display: block;
}

.registration_php {
	margin-top: 4vw;
	display: flex;
	flex-direction: column;
	width: 100%;
}

.email_php {
	width: 100%;
}

.username {

	width: 100%;
	padding-left: 25px;
	font-family: 'Spartan', sans-serif;
	font-size: 1vw;
	height: 3.65vw;
	border-color: #e9ebeb;
	background-color: #e9ebeb;
	border-radius: 10px;
	opacity:  100%;	
	outline: 0;
	box-shadow: none;
	border: 2px solid #e9ebeb;
	margin-bottom: 2vw;
}

.username::-webkit-input-placeholder {
	color:#000;
	opacity: 100%;
}

.password {
	width: 100%;
	padding-left: 25px;
	font-family: 'Spartan', sans-serif;
	font-size: 1vw;
	height: 3.65vw;
	border-color: #e9ebeb;
	background-color: #e9ebeb;
	border-radius: 10px;
	opacity:  100%;	
	outline: 0;
	box-shadow: none;
	border: 2px solid #e9ebeb;
	margin-top: 2vw;
}

.password::-webkit-input-placeholder {
	color:#000;
	opacity: 100%;
}

.otpr {
	font-family: 'Spartan', sans-serif;
	font-size: 1vw;
	width: 8.5vw;
	height: 3.33vw;
	border: 1px solid #008000;
	border-radius: 10px;
	color: #fff;
	background-color: #008000;
	margin: auto;
	margin-top: 2vw;
}

.burger {
	display: none;
}

@media (max-width: 1920px) {
	.container {
		margin-left: 8%;
		margin-right: 8%;
	}
	.container2 {
		margin-left: 13%;
		margin-right: 13%;
	}
	.container3 {
		margin-left: 8%;
		margin-right: 8%;
	}
}
@media (max-width: 1024px) {

}

@media (max-width: 769px) {
	body.lock {
		overflow: hidden;
	}
	.burger span {
		content: '';
		background-color: #000;
		position: absolute;
		width: 100%;
		height: 0.7vw;
		top: 2.25vw;
		}
	.burger {
		display: block;
		position: relative;
		height: 5vw;
		width: 9vw;
		z-index: 31;
	}
	.burger:before,.burger:after {
		content: '';
		background-color: #000;
		position: absolute;
		width: 100%;
		height: 0.7vw;
	}
	.burger:before {
		top: 0;
	}
	.burger:after {
		bottom: 0;
	}
	.circle {
		margin-left: -7vw;
    margin-top: -31vw;
    width: 40vw;
    height: 40vw;
	}
	.circle2 {
		margin-left: -12vw;
    margin-top: -28vw;
    width: 40vw;
    height: 40vw;
	}
	.title {
		font-size: 6vw;
	}

	.menu {
		overflow: auto;
		display: flex;
		position: fixed;
		font-size: 6vw;
		top: 0;
		left: 0;
		width: 100%;
		height: 100%;
		background-color: #fff;
		z-index: 30;
		padding-top: 20vw;
		text-align: center;
		flex-direction: column;
		transform: translateY(-100%);
		transition: all 0.3s ease 0s;
	}
	.menu.active {
		transform: translateY(0);
	}
	.link {
		margin-top: 6vw;
	}
	.authorization {
		margin: 170vw 0 0 0;
		position: fixed;
		z-index: 31;
		justify-content: space-between;
		transform: translateY(-300vw);
		transition: all 0.3s ease 0s;
	}
	.authorization.active {
		transform: translateY(0);
	}
	.sign {
		font-size: 6vw;
		width: 38vw;
    height: 14vw;
	}
	.get {
		font-size: 6vw;
		width: 38vw;
    height: 14vw;
    margin-left: 10vw;
	}

	.intro_logo {
	font-size: 10vw;
	font-weight: bold;
	line-height: 10.6vw;
	}
	.description_intro {
	max-width: 66vw;
  font-size: 2.8vw;
	}
	.email {
	width: 55vw;
	font-size: 1.8vw;
	height: 5vw;
	}
	.get2{
		font-size: 1.8vw;
    width: 14vw;
    height: 5vw;
    margin-left: 43.75vw;
    border-radius: 6px;
	}
	.card_1 {
		flex-direction: column-reverse;
	}
	.image_1 {
		width: inherit;
		height: 43.75vw;
	}
	.Human_1 {
		margin-top: 1vw;
		width: 45.375vw;
	}
	.info_1 {
		width: inherit;
		margin-top: 3vw;
	}
	.head_info_1 {
		text-align: center;
		font-size: 8vw;
		line-height: 8.5vw;
	}
	.main_info_1 {
		text-align: center;
		font-size: 2.5vw;
    line-height: 3vw;
	}
	.cards_info_1 {
    width: inherit;
    margin-top: 3vw;
	}
	.bold {
		margin-top: 2vw;
		font-size: 2vw;
	}
	.phone_1 {
		width: 9.7vw;
		height: 9.7vw;
	}
	.regular {
		font-size: 1.6vw;
	}
	.card_2 {
		flex-direction:  column;
		height: 130vw;
	}
	.image_2 {
		width: inherit;
		height: 43.6vw;
	}
	.Human_2 {
		margin-top: 1vw;
		width: 45.375vw;
	}
	.info_2 {
		width: inherit;
	}
	.head_info_2 {
		font-size: 8vw;
		width: inherit;
		text-align: center;
		margin-top: 2vw;
		line-height: 9vw;
	}
	.main_info_2 {
		width: inherit;
		text-align: center;
		font-size: 2.5vw;
    line-height: 3vw;
	}
	.akkor_1 {
		margin-bottom: 3vw;
	}
	.akkor_2,.akkor_3 {
  font-size: 4.25vw;
  line-height: 4.75vw;
  text-align: center;
	}

	.img_akkor {
		width: 4vw;
		height: 4vw;
	}
	.regular_2 {
		font-size: 1.8vw;
	}
	.card_3 {
		flex-direction: column-reverse;
		margin-top: 8vw;
	}
	.image_3 {
		width: inherit;
		display: flex;
		justify-content: center;
	}
	.Human_3 {
		width: 44vw;
	}
	.info_3 {
		width: inherit;
	}
	.head_info_3 {
		text-align: center;
		margin-top: 2vw;
		font-size: 8vw;
		line-height: 8.5vw;
	}
	.main_info_3 {
		margin-top: 2.3vw;
		text-align: center;
		font-size: 2.8vw;
		line-height: 3vw;
	}
	.cards_info_3 {
		width: inherit;
	}
	.number {
		width: 9.7vw;
		height: 9.7vw;
		font-size: 9vw;
	}
	.text_2 {
		font-size: 3.8vw;
		margin-top: 3vw;
	}
	.learn_2 {
		display: flex;
		justify-content: center;
	}
	.learn {
		font-size: 2.8vw;
		width: 22vw;
		height: 6vw;
	}
	.cards_info_4 {
		flex-direction: column;
	}
	.card_1_info_4 {
		width: inherit;
	}
	.user {
	width: 38vw;
	height: 14vw;
	font-size: 6vw;
	}
}	