body {
	margin: 0;
	padding: 0;
	position: relative;
	max-width: 1920px;
}

.header {
	background: #fff;
	top: 0;
	left: 0;
	box-sizing: border-box;
}

.container {
	max-width: 1620px;
	margin: 0 auto;
	margin-top: 60px;
}

.nav {
	width: 100%;
	display: flex;
	justify-content: space-between;
	align-items: center;
}

.title {
	font-size: 2vw;
	font-family: 'Lato', sans-serif;
}

.menu {
	font-size: 1vw;
	font-family: 'Lato', sans-serif;
	margin: auto;
}

.link {
	text-decoration: none;
	color: #000;
	position: relative;
	margin-right: 44px;
}

.link:last-child {
	margin-right: 0;
}

.link:after {
	content: "";
	width: 100%;
	height: 3px;
	background-color: #000;
	position: absolute;
	top: 100%;
	left: 0;
	display: none;
}

.link:hover:after {
	display: block;
}


.sign {
	font-family: 'Lato', sans-serif;
	width: 7.4vw;
	height: 4vw;
	background-color: #fff;
	font-size: 1vw;
	margin: 0 16px 0 0;
	border: 1px solid #000;
	border-radius: 10px;
	color: #000;
}

.get {
	font-family: 'Lato', sans-serif;
	font-size: 1vw;
	width: 7.4vw;
	height: 4vw;
	border: 1px solid #008000;
	border-radius: 10px;
	color: #fff;
	background-color: #008000;
}

.design {
	width: 100%;
	content: "";
}

.circle {
	position: absolute;
	margin-left: -14vw;
	margin-top: -21vw;
	width: 31vw;
	height: 31vw;
	border: 1px solid #008000;
	border-radius: 50%;
}

.circle2 {
	position: absolute;
	margin-left: -17vw;
	margin-top: -19vw;
	width: 31vw;
	height: 31vw;
	border: 1px solid #008000;
	border-radius: 50%;
}

.intro {
	font-family: 'Spartan', sans-serif;
	text-align: center;
}

.intro_logo {
	max-width: 923px;
	margin: 0 auto;
	font-size: 3.64vw;
	font-weight: bold;
	line-height: 4vw;
	padding-top: 7vw;
}

.invest {
	color: #008000;
}

.description_intro {
	max-width: 38vw;
	margin: 0 auto;
	font-size: 1vw;
	padding-top: 3.6vw;
	line-height: 180%;
	padding-bottom: 48px;
}

.get_email {
	display: flex;
	align-items: center;
	justify-content: center;
}

.email {
	width: 26vw;
	padding-left: 25px;
	font-family: 'Spartan', sans-serif;
	font-size: 1vw;
	height: 3.65vw;
	border-color: #e9ebeb;
	background-color: #e9ebeb;
	border-radius: 10px;
	opacity:  100%;	
	outline: 0;
	box-shadow: none;
	border: 2px solid #e9ebeb;
}

.email::-webkit-input-placeholder {
	color:#000;
	opacity: 100%;
}

.get2 {
	font-family: 'Spartan', sans-serif;
	font-size: 1vw;
	width: 8.5vw;
	height: 3.33vw;
	border: 1px solid #008000;
	border-radius: 10px;
	color: #fff;
	background-color: #008000;
	position: absolute;
	margin-left: 18.75vw;
}

.container2 {
	max-width: 1420px;
	margin: 0 auto;
}

.company {
	margin-top: 10.83vw;
	display: flex;
	justify-content: space-between;
	align-items: center;
}

.MarketWatch {
	width: 14.08%;
}

.Forbes {
	width: 12.32%;
}

.BusinessIns {
	width: 12.32%;
}

.Fidelity {
	width: 18.31%;
}

.Wired {
	width: 12.39%;
}

.card_1 {
	margin-top: 10.16vw;
	display: flex;
	justify-content: space-between;
}

.info_1 {
	width: 29.9vw;
	align-items: center;
}

.head_info_1, .head_info_2, .head_info_3, .head_info_4 {
	font-family: 'Spartan', sans-serif;
	font-size: 3.33vw;
	font-weight: bold;
	line-height: 3.75vw;
}

.main_info_1, .main_info_2, .main_info_3, .main_info_4 {
	font-family: 'Spartan', sans-serif;
	margin-top: 2.6vw;
	font-size: 1vw;
	line-height: 1.7vw;
}

.image_1 {
	width: 39.06vw;
	height: 48.75vw;
	background-color: #e6f2e6;
	border-radius: 20px;
}

.Human_1 {
	width: 34.375vw;
	display: block;
	margin: 0 auto;
	margin-top: 8.65vw;
	border-radius: 20px;
}

.cards_info_1 {
	width: 25.6vw;
	margin-top: 1.6vw;
}

.card_1_info_1 {
	display: flex;
	justify-content: flex-start;
	margin-bottom: 2.5vw;
}

.phone_1 {
	width: 5.7vw;
	height: 5.7vw;
}

.text {
	margin-left: 1.7vw;
}

.bold {
	font-family: 'Spartan', sans-serif;
	font-size: 1vw;
	font-weight: bold;
}

.regular {
	font-family: 'Spartan', sans-serif;
	font-size: 0.94vw;
}

.card_2 {
	margin-top: 10.42vw;
	display: flex;
	justify-content: space-between;
}

.image_2 {
	width: 36.15vw;
	height: 39.6vw;
	background-color: #e6f2e6;
	border-radius: 20px;
}

.Human_2 {
	border-radius: 20px;
	width: 32vw;
	display: block;
	margin: 0 auto;
	margin-top: 5.16vw;
}

.info_2 {
	width: 31.25vw;
	align-items: center;
}

.head_info_2 {
	width: 29.7vw;
	font-size: 3.65vw;
	line-height: 4vw;
}

.main_info_2 {
	width: 29.32vw;
	margin-top: 1.67vw;
}

.card_1_info_2 {
	margin-top: 2.5vw;
}

.akkor_1 {
 	background: #f2f9f2;
	width: 100%;
	border-radius: 10px;
	margin-bottom: 1.25vw;
}

.akkor_2::-webkit-details-marker{display:none;}
.akkor_2::-moz-list-bullet{list-style-type:none;}
.akkor_2::marker{display:none;} 
.akkor_2,.akkor_3 {
	padding: 1.6vw 0;
	padding-left: 1.6vw;
	font-family: 'Spartan', sans-serif;
    display:block;
    font-size: 1.25vw;
    cursor: pointer;
    position: relative;
}

.akkor_2:before,.akkor_3:before {
  right: 1.72vw;
  background: url("image/vector.png");
  width: 1.25vw;
  height: 1.25vw;  
  content: "";
  position: absolute;
  transition: transform .5s;
}

.akkor_3 {
	margin: 0 0 0 0;
}

.regular_2 {
	font-family: 'Spartan', sans-serif;
	font-size: 1vw;
	padding: 1vw 0 1vw 1.56vw;
}

.card_3 {
	margin-top: 10.42vw;
	display: flex;
	justify-content: space-between;
}

.info_3 {
	width: 39.64%;
}

.head_info_3 {
	font-size: 70px;
	line-height: 78px;
}

.main_info_3 {
	margin-top: 32px;
}

.cards_info_3 {
	margin-top: 48px;
}

.card_1_info_3 {
	display: flex;
	justify-content: flex-start;
	margin-bottom: 48px;
}

.number {
	font-family: 'Spartan', sans-serif;
	font-weight: bold;
	width: 64px;
	font-size: 36px;
	padding-top: 14px;
	border-radius: 50%;
	color: #008000;
	background-color: #f2f9f2;
	text-align: center;
}

.text_2 {
	font-family: 'Spartan', sans-serif;
	margin-left: 50px;
	font-size: 20px;
	padding: 19.6px 0;
}

.learn {
	display: inline-flex;
	justify-content: center;
	align-items: center;
	font-family: 'Spartan', sans-serif;
	font-size: 18px;
	padding-top: 9px;
	width: 222px;
	height: 64px;
	border: 1px solid #008000;
	border-radius: 10px;
	color: #fff;
	background-color: #008000;
}

.image_3 {
	width: 47.89%;
}

.Human_3 {
	width: 100%;
	border-radius: 20px;
}

.card_4 {
	margin-top: 10.42vw;
}

.info_4 {
	text-align: center;
}

.head_info_4 {
	font-size: 3.65vw;
	line-height: 4.06vw;
}

.main_info_4 {
	max-width: 563px;
	margin: 0 auto;
	margin-top: 1.67vw;
}

.cards_info_4 {
	display: flex;
	justify-content: space-between;
	margin-top: 2.5vw;
}

.card_1_info_4 {
	background-color: #f2f9f2;
	width: 48.31%;
	display: flex;
	justify-content: flex-start;
	margin-bottom: 48px;
	border-radius: 20px;
}

.Human_4 {
	width: 44.02%;
	border-radius: 20px 0px 0px 20px;
}

.text_4 {
	margin: 32px;
	width: 46.65%;
	display: grid;
	align-content: stretch;
	position: relative;
}

.signature {
	font-family: 'Spartan', sans-serif;
	font-size: 18px;
	font-weight: 600;
	position: absolute;
	bottom: 0;
}

.view_all {
	display: flex;
	justify-content: center;
	margin-bottom: 200px;
}


.download_info {
	margin: 0 auto;
	padding-top: 72px;
	width: 54.05%;
	text-align: center;
	font-family: 'Spartan', sans-serif;
	font-size: 2.92vw;
	font-weight: Bold;
	line-height: 62.72px;
}

.download_icon {
	margin: 0 auto;
	margin-top: 48px;
	width: 18.96vw;
	display: flex;
	justify-content: space-between;
}

.google_play {
	width: 8.96vw;
}

.appstore {
	width: 8.75vw;
}

.card_5 {
	display: flex;
	justify-content: center;
	background-color: #f2f9f2;
	border-radius: 20px;
	overflow: hidden;
	padding-bottom: 65px;	

}

.download {
	display: flex;
	flex-direction: column;
	justify-content: flex-start;
	align-items: center;
}

.circle_download {
	display: flex;
	justify-content: center;
}

.circle_3 {
	margin-left: 3vw;
	width: 33.33vw;
	position: absolute;
}

.circle_4 {
	margin-left: 3vw;
	width: 33.33vw;
	position: absolute;

}

.footer {
	width: 100%;
	background-color: #f2f9f2;
	margin-top: 10.42vw;
	padding-top: 3.5vw;
	padding-bottom: 2.9vw;
}

.container3 {
	width: 84.375vw;
	max-width: 1620px;
	margin: 0 auto;
}

.info_footer {
	display: flex;
	justify-content: space-between;
	margin-bottom: 5.21vw;
}

.title_footer {
	display: flex;
}

.farm {
	width: 18.33vw;
}

.img_footer {
	padding-right: 10px;
	width: 1.2vw;
}

.main_farm_footer {
	margin-top: 24px;
}

.text_title_footer {
	font-family: 'Spartan', sans-serif;
	font-size: 22px;
}

.text_subscribe {
	width: 438px;
	margin-bottom: 24px;
}

.subscribe {
	width: 533px;
}

.follow {
	width: 363px;
	display: flex;
	justify-content: space-between;
}

.follow_us {
	width: 176px;
}

.call_us {
	width: 136px;
}

.title_follow {
	font-family: 'Spartan', sans-serif;
	font-size: 16px;
	font-weight: bold;
	margin-bottom: 24px;
}

.icons_follow {
	display: flex;
	justify-content: space-between;
	vertical-align: center;
}

.fa-instagram {
	text-align: center;
	width: 48px;
	padding: 8px 0px;
	font-size: 32px;
	background-color: #008000;
	border-radius: 50%;
	color: #f2f9f2;
}

.fa-facebook {
	text-align: center;
	font-size: 48px;
	color: #008000;
}

.fa-twitter {
	text-align: center;
	width: 48px;
	padding: 8px 0px;
	font-size: 32px;
	background-color: #008000;
	border-radius: 50%;
	color: #f2f9f2;
}

.phone {
	font-size: 16px;
}

.line_footer {
	width: 100%;
	content: "";
	height: 1px;
	background-color: #000;
	opacity: 50%;
	margin-bottom: 56px;
}

.right {
	font-family: 'Spartan', sans-serif;
	font-size: 12px;
}

.podpis {
	display: flex;
	justify-content: space-between;
}

.menu_podpis {
	display: flex;
	justify-content: space-between;
}

.point_menu {
	text-decoration: none;
	color: #000;
	position: relative;
	font-family: 'Spartan', sans-serif;
	font-size: 14px;
	margin-right: 40px;
}

.point_menu:last-child {
	margin-right: 0px;
}

.point_menu::after {
	content: "";
	width: 100%;
	height: 1px;
	background-color: #000;
	position: absolute;
	top: 100%;
	left: 0;
	display: none;
}

.point_menu:hover:after {
	display: block;
}

@media (max-width: 1920px) {
	.container {
		margin-left: 8%;
		margin-right: 8%;
	}
	.container2 {
		margin-left: 13%;
		margin-right: 13%;
	}
}
@media (max-width: 1024px) {

}

@media (max-width: 768px) {

}