body {
	margin: 0;
	padding: 0;
	position: relative;
	height: 100vh;
}

/*Горизонтальное меню*/
.container_1 {
	position: relative;
	z-index: 10;
}
.container_nav {
	position: fixed;
 	width: 100%;
 	background-color: #d9e3d9;
}

.nav {
	max-width: 80%;
	margin-left: 19%;
	height: 5vw;
	display: flex;
	justify-content: space-between;
	opacity: 70%;
}

.time {
	font-family: 'Lato', sans-serif;
	width: 30%;
	font-size: 1.3vw;
	margin: auto;
	margin-left: 0;
	font-weight: bold;
}

.user_pan {
	width: 20%;
	display: flex;
	justify-content: space-between;
	margin: auto;
	margin-right: 0;
}

.user {
	font-family: 'Lato', sans-serif;
	width: 7.4vw;
	height: 4vw;
	font-size: 1.5vw;
	margin: 0 0.5vw 0 0;
	background-color: #d9e3d9;
	border: 1px solid #d9e3d9;
	border-radius: 10px;
	color: #000;
	cursor: pointer;
}

/* Вертикальное меню */
.container_menu {
	position: fixed;
	height: 100%;
	background-color: #398b36;
	width: 18%;
	z-index: 10;
}

.title {
	display: flex;
	height: 5vw;
	width: 100%;
	cursor: pointer;

}

.title_admin {
	text-transform: uppercase;
	text-align: center;
	font-family: 'Lato', sans-serif;
	font-size: 1.5vw;
	color: #fff;
	margin: auto;
}

.pod {
	text-transform: none;
	font-size: 0.9vw;
}

.hi_bro {
	height: 6vw;
	display: flex;
}
.hi {
	margin: auto;
	font-size: 1.5vw;
	color: #fff;
}

.menu {
	display: flex;
	flex-direction: column;
}
.title_main {
	border: none;
	height: 5vw;
	color: white;
	font-size: 1.5vw;
	background-color: #398b36;
	cursor: pointer;
}

.line {
	content: '';
	width: 100%;
	background-color: #fff;
	height: 0.1vw;
	opacity: 30%;
}

/* Контент */
.container_main {
	width: 75%;
	position: absolute;
	margin-left: 19%;
	margin-top: 6vw;
}
.intro {
	text-align: center;
	font-size: 7vw;
	margin-bottom: 2vw;
}
.table_pages {
  	width: 100%;
  	border-collapse: collapse;
  	background-color: #dcdcd1;

}
.title_pages {
   	background-color: #c0c0b4;
   	font-size: 2vw;
}
.num_title {
	height: 5vw;
	border: 2px solid #c0c0b4;
  background-color: #c0c0b4;
}

.num_pages {
	height: 5vw;
	border: 2px solid #dcdcd1;
  background-color: #dcdcd1;
}

.num_pages:nth-child(even) { 
	background-color: #f3f3f3; 
}

td, th {
	vertical-align: middle;
}

.text_pages {
	text-decoration: none;
	color: #000;
	margin-left: 1vw;
	font-size: 2vw;
}

/* Аккордион */
.intro_builder {
	text-align: center;
	font-size: 4vw;
	margin-bottom: 2vw;
}

.accordion .container_ac .label{
	font-size: 2vw;
	font-weight: bold;
}

.container_ac {
	position: relative;
	margin: 10px 10px;
}

.accordion .label {
	position: relative;
	padding: 2vw 0;
	cursor: pointer;
}

.accordion .label::before {
  content: '+';
  position: absolute;
  top: 50%;
  right: 0vw;
  transform: translateY(-50%);
}

.accordion .content {
  position: relative;
  max-height: 0;
  overflow: hidden;
  transition: 0.5s;
}

.accordion .container_ac.active .content {
  max-height: 200vw;
}

.accordion .container_ac.active .label::before {
  content: '-';
}

.content {
	margin-left: 4vw;
}

/* Представление интро */
.text_main {
 	font-size: 1.5vw;
 	margin-bottom: 1vw;
}

.otpr {
	margin-top: 1vw;
	font-family: 'Spartan', sans-serif;
	font-size: 1vw;
	width: 8.5vw;
	height: 3.33vw;
	border: 1px solid #008000;
	border-radius: 10px;
	color: #fff;
	background-color: #008000;
	margin-left: 45%;
}

.tox .tox-statusbar {
	display: none;
}

/* Страница комментариев */
.intro_com {
	font-size: 2vw;
	text-align: center;
	margin-bottom: 2vw;
}

.title_com {
	font-size: 2vw;
	text-align: center;
}

.on_com {
	font-size: 1.5vw;
	text-align: center;
	width: 20%;
}

.name_com {
	font-size: 1.5vw;
	text-align: center;
	width: 20%;
}

.text_com {
	font-size: 1.5vw;
	text-align: center;
}

.check {
	-webkit-appearance: none;
	outline: none;
	background-color: #c6c6c6;
	position: relative;
	width: 4vw;
	height: 2vw;
	border-radius: 1vw;
	transition: .5s;
	box-shadow: inset 0 0 5px rgba(0, 0, 0, 0.2);
}

.check:checked {
	background-color: #40e551;
}

.check:before {
	content: '';
	position: absolute;
	width: 2vw;
	height: 2vw;
	border-radius: 1vw;
	top: 0;
	left: 0;
	background-color: #fff;
	transition: .5s;
	transform: scale(1.1);
	box-shadow: 0 2px 5px rgba(0, 0, 0, 0.2);
}

.check:checked:before {
	left: 2vw;
}